<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="bodyDiv">
    <h1>K3s on Raspberry Pi 5</h1>

    <h2><%= data.title %></h2>
    <p>NodeJS version: <%= data.nodeVerison %></p>
    <p>Host: <%= data.host %></p>
    </div>
  </body>
</html>
